body {
  font-family: "Noto Sans", sans-serif;
}

hr {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.homework1 {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2vh;
}

.homework1 a {
  background-color: #507397;
  border-color: #78a5ae;
  border-style: solid;
  border-width: 3px;
  border-radius: 7px;
  font-size: 150%;
  color: #ffffff;
  text-decoration: none;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.homework2 {
  margin-top: 5vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.homework2 p {
  width: 33%;
  padding: 1%;
  background-color: #507397;
  border-color: #78a5ae;
  border-style: solid;
  border-width: 3px;
  border-radius: 7px;

  color: #ffffff;
}

.homework3 {
  margin-top: 5vh;
}

.homework3 p {
  margin-left: 1%;
  margin-right: 1%;
}

.homework3 > .header {
  display: flex;
}

.homework3 > .header > .logo,
.slika {
  background-color: #add8e6;
}

.homework3 > .header > .logo {
  flex-grow: 1;
}

.homework3 > .header > .slika {
  flex-grow: 3;
}

.homework3 > .nav {
  display: flex;
  justify-content: center;
}

.homework3 > .nav > .menu {
  width: 60%;
}

.homework3 > .nav > .menu {
  background-color: #90ee90;
}

.homework3 > .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homework3 > .content > .aside1,
.main,
.aside2 {
  background-color: #ffa500;
  height: 15vh;
}

.homework3 > .content > .main {
  flex-grow: 3;
  align-self: flex-start;
}

.homework3 > .content > .aside1,
.aside2 {
  flex-grow: 0.5;
  align-self: flex-end;
}
