@import "../assets/css/reset";
@import "../assets/css/main";

main {
  padding-top: 7%;
  align-items: center;
  justify-content: flex-start;
}

.assignment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .title {
    padding: 2%;
    font-size: 2vw;
    align-self: flex-start;
  }

  .description {
    padding: 2%;
    font-size: 1.2vw;
    line-height: 1.5em;
  }

  .solution {
    align-self: flex-start;
  }
}

code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  line-height: 1.5em;
}

.strikethrough {
  text-decoration: line-through;
}

/*
.homework3-solution {
  margin: 10%;

  .weather-search {
    display: flex;
    justify-content: space-around;
    column-gap: 5;

    #city-input {
      outline: 0;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid black;
      color: white;
      transition: 0.4s ease;
      letter-spacing: 1px;
    }
  }
}*/
