footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
